.containerBody{
  background-color: #fff8f0;
  justify-content: center;
  display: flex;
  align-items: center;
}
.container {
  background: white;
  padding: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  font-family: 'Wix Madefor Text', sans-serif;
}
p{
  font-size: 1em;
}
body{
  background-color: #fff8f0;
  justify-content: center;
}
h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
}

label {
  font-weight: bold;
  margin-top: 15px;
  display: block;
}

select, input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}

.calendar, .calendarDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 1rem;
}

.calendarDays {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.day {
  background: #eee;
  padding: 0.7rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.day:hover {
  background-color: #4737299a;
}

.selected {
  background-color: #473729e7;
  color: white;
}

.disabled {
  background: #cecece;
  color: #999;
  cursor: not-allowed;
}

button {
  width: 100%;
  margin-top: 30px;
  padding: 0.75rem;
  background-color: #473729;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #473729;
}

.confirmation {
  margin-top: 30px;
  text-align: center;
}

.checkmark {
  font-size: 4rem;
  color: #473729;
  animation: popsAn 0.4s ease-out;
}

@keyframes popsAn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.calendarHeader button {
  padding: 2px 6px;
  font-size: 0.9rem;
  border-radius: 50%;
  color: #585858;
  border: 1px solid #aaa;
  background-color: #ffffff;
  align-items: flex-end;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.calendarHeader button:hover {
  background-color: #e0e0e0;
}

.summary {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.summary button {
  width: auto;
  background-color: #cecece;
  margin-top: 10px;
}
