.containerBody{
  background-color: #fff8f0;
  justify-content: center;
  display: flex;
  align-items: center;
}
.servicesSection {
  max-width: 1800px;
  padding: 140px 0px;
}

.service {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.reverse {
  background-color: #fff;
  border-radius: 12px;
  flex-direction: row-reverse;
}

.serviceText,
.serviceImg {
  flex: 1;
  padding: 20px;
}

.serviceText h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #674230;
}

.serviceText p {
  color: #5c514c;
  font-size: 1rem;
  line-height: 1.6;
}
.serviceImg {
  display: flex;
  align-items: center;
}
.serviceImg img {
  max-height: 700px;
  max-width: 700px;
  height: 60%;
  width: 100%;
  border-radius: 12px;
}

/* Responsive pour téléphone */
@media (max-width: 768px) {
  .service,
  .reverse {
    flex-direction: column;
  }
}
