.menubar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 30px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  background-color: white;
}

.logoMenu {
  display: block;
  height: 90px;
}

.navMenu ul {
  list-style: none;
  display: flex;
  gap: 80px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
}

.navMenu ul li a {
  text-decoration: none;
  color: #473729;
  font-weight: bold;
  transition: all 0.5s ease;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background: #473729;
}
.open {
  display: block;
}
.navMenu ul li a.ctRdv {
  border: 2px solid #473729;
  background-color: #473729;
  color:#fff8ef;
  padding: 8px 16px;
  border-radius: 12px;
}
.navMenu ul li a.ctRdv:hover {
  border: 2px solid #3f3126;
  background-color: #3f3126;
  color: #ffffff;
}
.navMenu ul li :hover {
  color: #835e4c;
  background-color: #fff8ef;
  padding: 8px 16px;
  border-radius: 12px;
}
@media (max-width: 1068px) {
  .navMenu {
    display: none;
    width: 100%;
    background: #fdecdd;
    position: absolute;
    padding-bottom: 30px;
    padding-top: 10px;
    top: 80px;
    left: 0;
  }

  .navMenu.open {
    display: block;
  }

  .navMenu ul {
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 10px 0;
  }

  .burger {
    display: flex;
  }
}